* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: aqua;
  height: 7vh;
}

.body {
  display: flex;
  height: 93vh;
}

.main {
  background-color: blue;
  flex: 4;
}
.side {
  background-color: blueviolet;
  flex: 1;
}

#list-container {
  display: grid;
}

#navigation {
  display: flex;
  flex-direction: column;
}
